.inputField-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
    padding: 0 10vw;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    color: black;
}

label {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 5px;
    display: block;
}

label::selection {
    background-color: lightgray;
}

.locked {
    color: black;
    font-weight: bold;
    background-color: #6a6a6a;
}
