.CollapsTable{
    height: 100%;
}

.customButton{
    color: black;
}

.CollapseTable {
    color: white;
    margin-left: -10rem;
}

.infoContainer {
    margin-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerButtons {
    margin-top: -2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 2rem;
    gap: 1rem;
}