.CollapsTable{
    height: 100%;
}

.customButton{
    color: black;
}

.CollapseTable {
    color: white;
    margin-left: -10rem;
}

.infoContainer {
    margin-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    margin-top: -3rem;
}

.title {
    color: black;
}

.titleContainer {
    margin-top: -2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.klantenContainer {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    cursor: pointer;
}