@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.LogInBox{
    height: 500x;
    width: 350px;
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    box-shadow: 5px 5px 2px 6px rgb(0, 0, 0, 50%);
}

.LogInBoxContent{
    color: black;
    z-index: 2;
}

.LogInBoxButton{
    height: 150px;
    width: 200px;
    background-color: red;
    color: white;
}

.LogInBoxTextVak{
    height: 150px;
    width: 300px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Inter';font-size: 22px;
    background-image: url("Lasertestthumb2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}



.imgContainer{
    height: 75%;
    width: 75%;
    z-index: 10;
}

.logoContainer {
    height: 75px;
    width: 250px;
    z-index: 1;
}
