.colorTable table {
    width: 90%;
    border-collapse: collapse;
    z-index: 1;
    margin-bottom: 480px;
}

th {
    background-color: #E1ECFF !important;
    height: 45px;
    padding-left: -45px;
}


.colorTable th, td {
    padding: 0.2vh 0.2vw;
    text-align: left;
}

.colorTable th {
    background-color: #0D20E7;
    color: white;
    font-weight: bold;
    font-size: large;
    height: 2.5vh;
    white-space: nowrap;
    padding: 0.2vh 0.2vw;
    text-align: left;
    width: 90%;
}

.colorTable tr {
    cursor: pointer;
    border: 1px transparent solid;
}

.colorTable tr:nth-child(even) {
    background-color: #E1ECFF;
}

.colorTable tr:nth-child(odd) {
    background-color: #A8C3FF;
}

.colorTable tr {
    color: #3b3b3b;
}

.colorTable tbody tr:hover {
    text-decoration: underline;
    color: black;
}

.colorTable td {
    text-align: left;
}

.tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    flex-direction: column;
}

.tableTitle {
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: left;
    margin-bottom: 0.1vh;
    border-bottom: 1px solid #0D20E7;
    background-color: #0D20E7;
    width: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 0.5vw;
    box-sizing: border-box;
}

.editIconCells {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.25vw;
}

.editUserIcon {
    cursor: pointer;
    color: blue;
    transition: color 0.2s ease-in-out;
    font-size: 1.2rem;
    vertical-align: middle;
}

.editIcon {
    cursor: pointer;
    color: red;
    transition: color 0.2s ease-in-out;
    font-size: 1.2rem;
}

.editIconCell {
    text-align: right;
    width: 100%;
}

.header {
    user-select: none;
}

.headerContent {
    display: flex;
    gap: 0.33rem;
    align-items: center;
}

.headerContent span {
    color: white;
}

.sortIcon {
    width: 0.9rem;
    height: 0.9rem;
    color: #A8C3FF;
}