.instellingenTitle {
    color: black;
}

.instellingenText {
    color: black;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
}

.inputFieldContainer {

}

.column {
    padding-right: 5vw;
}

.usernameContainer {
    display: flex;
    background: #E1ECFF;
    width: 55vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.usernameText {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.resetPassword {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    position: fixed;
    left: 18%;
    top: 56%;
}

.btnsContainer {
    display: flex;
    margin-top: -20vh;
    margin-left: 46.5%;
    margin-right: 150px;
}

.deleteBtn {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}
