.formContainer {
    display: flex;
    flex-wrap: wrap;
}

.inputFieldContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.column {
    padding-right: 5vw;
}

.resetPasswordContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}


.resetPassword {
    margin-top: 15%;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
    user-select: none;
}

.btnsContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.languageDropdown {
    width: 15rem;
}

input {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.25rem;
}

select {
    margin-bottom: 1.2rem;
}

