.instellingen-title {
    color: black;
}

.instellingen-text {
    color: black;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
}

.inputField-container {

}

.column {
    padding-right: 5vw;
}

.username-container {
    display: flex;
    background: #E1ECFF;
    width: 55vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.username-text {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.reset-password {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    position: fixed;
    left: 18%;
    top: 56%;
}

.btns-container {
    display: flex;
    margin-top: -20vh;
    margin-left: 46.5%;
    margin-right: 150px;
}

.delete-btn {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}
