.dropdownContainer {
    position: relative;
    cursor: pointer;
}

.selectedOption {
    display: flex;
    padding: 8px 12px;
    background-color: rgba(241, 241, 241, 0.81);
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    color: black;
}

.selectedOption:hover, .selectedOption::selection {
    border: 1px solid #171717;
}

.dropdownOptions {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.dropdownContainer:hover .dropdownOptions {
    display: block;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.option:hover {
    background-color: #f0f0f0;
}

.icon {
    height: 20px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

