.dropdownContainer {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.selectedOption {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(241, 241, 241, 0.81);
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    color: black;
    position: relative;
}

.selectedOption:hover, .selectedOption::selection {
    border: 1px solid #171717;
}

.dropdownLabel {
    margin-bottom: 0.25rem;
    display: block;
}

.chevronDown {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
    color: #333;
}

.dropdownOptions {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.dropdownContainer:hover .dropdownOptions {
    display: block;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: black;
    border: 1px solid white;
    border-bottom-color: #ccc;
}

.option:last-child {
    border-bottom-color: white;
}

.option:hover {
    background-color: #f0f0f0;
}

.icon {
    height: 20px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

