.inputField-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputField-item {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    width: 100%;
}

input:disabled {
    background-color: lightgray;
}

label {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 5px;
}
