.collapse{
    margin-bottom: 2vh  ;
    width: 1450px;
    overflow: auto;
}

.Collapsible {
    width: 100%;
    max-width: 1450px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    margin: auto;
}

.CollapsibleTrigger {
    width: 100%;
    max-width: 1450px;
    display: block;
    background-color: #949191;
    color: black;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.CollapsibleTrigger:before,
.CollapsibleTrigger:after {
    width: 100%;
    max-width: 1450px;
    display: block;
    content: "";
}

.CollapsibleTrigger:hover {
    background-color: #B9B9B9;
}

.CollapsibleContentInner {
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    overflow-wrap: break-word;
}

.legenda{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.legenda div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.legenda div div {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 10%;
    border: 2px solid #D9D9D9;
}

span {
    color: black;
}