.formContainer {
    display: flex;
    flex-wrap: wrap;
}

.inputFieldContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.column {
    padding-right: 5vw;
}

.usernameContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #E1ECFF;
    width: 55vw;
    height: 15vh;
}

.usernameText {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.resetPasswordContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}


.resetPassword {
    margin-top: 15%;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
}

.btnsContainer {
    display: flex;
    margin-top: -20vh;
    margin-left: 47.5%;
}

.deleteBtn {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.lastLogin {
    margin-top: 1rem;
}

input {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.25rem;
}

select {
    margin-bottom: 1.2rem;
}

