.collapseTable2 table {
    width: 90vw;
    min-width: 90vw;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.tableContainer {
    justify-content: center;
    margin-bottom: 20px;
}

.collapseTable2 th{
    font-size: 2em;
}

.collapseTable2 th, .collapseTable2 td {
    padding-left: 5px;
    text-align: left;
    font-size: 1em;

}

.collapseTable2 td, .collapseTable2 th {
    border-collapse: collapse;
    border: black 1px solid;
}

.collapseTable2 th:first-child,
.collapseTable2 td:first-child {
    border-left: none;
}

.collapseTable2 th:last-child,
.collapseTable2 td:last-child {
    border-right: none;
}

.collapseTable2 tr:first-child th,
.collapseTable2 tr:first-child td {
    border-top: none;
}

.collapseTable2 tr:last-child td {
    border-bottom: none;
}



.captionContainer{
    width: 90vw;
    min-width: 90vw;
    background-color: hsl(218, 100%, 94%);
    padding: 10px;
    font-size: 2rem;
    border-radius: 12px;
    cursor: pointer;
    color: black;
    user-select: none;
}

.captionContainer:hover{
    background-color: hsl(218, 100%, 94%, 60%);
}

.dateInput{
    height: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}

.opmerkingenInput{
    height: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}
