.collapseTable table {
    width: 90vw;
    min-width: 90vw;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.tableContainer {
    justify-content: center;
    display: center;
}

.collapseTable th{
    font-size: 2em;
}

.collapseTable th, .collapseTable td {
    padding-left: 5px;
    text-align: left;
    font-size: 1em;

}

.collapseTable table .collapseTable th:first-child,
.collapseTable table .collapseTable td:first-child {
    border-left: none;
}
.collapseTable table .collapseTable th:last-child,
.collapseTable table .collapseTable td:last-child {
    border-right: none;
}
.collapseTable table .collapseTable tr:first-child th,
.collapseTable table .collapseTable tr:first-child td {
    border-top: none;
}
.collapseTable table .collapseTable tr:last-child td {
    border-bottom: none;
}

.collapseTable td, .collapseTable th {
    border: 1px solid #ccc;
}


.captionContainer{
    width: 90vw;
    min-width: 90vw;
    background-color: hsl(218, 100%, 94%);
    padding: 10px;
    font-size: 2rem;
    border-radius: 12px;
    cursor: pointer;
}

.captionContainer:hover{
    background-color: hsl(218, 100%, 94%, 60%);
}

.dateInput{
    height: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}

.opmerkingenInput{
    height: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}
