table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.tableContainer {
    justify-content: center;
    display: flex;
}

th, td {
    padding: 5px;
    text-align: left;
}

table th:first-child,
table td:first-child {
    border-left: none;
}
table th:last-child,
table td:last-child {
    border-right: none;
}
table tr:first-child th,
table tr:first-child td {
    border-top: none;
}
table tr:last-child td {
    border-bottom: none;
}

td, th {
    border: 1px solid #ccc;
}


.captionContainer{
    width: 100%;
    background-color: hsl(218, 100%, 94%);
    padding: 10px;
    font-size: 2rem;
    border-radius: 12px;
    cursor: pointer;
}

.captionContainer:hover{
    background-color: hsl(218, 100%, 94%, 60%);
}
