.dashboard {
    width: 100vw;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: 2rem;
    padding: 1rem 2rem;
}

.cardsContainer {
    padding-top: 1.55rem;
    margin-top: -1.55rem;
    padding-right: 1rem;
    width: 45vw;
    height: 70vh;
    border-right: 2px solid #d9d9d9;
    justify-content: center;
    align-items: center;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 2.5rem;
}

.tableContainer {
    width: 50vw;
}

.headerContainer {
    width: 100%;
    margin-left: 35px;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.headerSubtitle {
    padding-left: 0.5%;
}

hr {
    margin-left: -5vw;
    width: 105vw;
    border-top: 1px solid #d9d9d9;
}

.actueleHeader,
.tableHeaderText {
    color: black;
    font-size: 2.5rem;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer h1,
.headerContainer p {
    margin: 0;
    color: black;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.homeBtns {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.homeBtn {
    margin: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

