.dashboard {
    width: 100vw;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: 2rem;
    padding: 1rem 2rem;
}

.cardsContainer {
    width: 45vw;
    padding-right: 1rem;
    border-right: 2px solid #d9d9d9;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.tableContainer {
    width: 50vw;
}

.headerContainer {
    width: 100%;
    margin-left: 35px;
    margin-bottom: 30px;
}

.headerSubtitle {
    padding-left: 0.5%;
}

hr {
    border-top: 2px solid #d9d9d9;
    margin: 0;
}

.actueleHeader,
.tableHeader {
    color: black;
    font-size: 2.5rem;
}

.headerContainer h1,
.headerContainer p {
    margin: 0;
    color: black;
}

body {
    overflow-x: hidden;
}
